body {
    background-color: #CFF2D5;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
}
h1 {
    color: #A3BAE6
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#main p {
    max-width: 15%;
}

hr {
  width: 30%;
  height: 1px;
  border: 0;
  border-top: 2px solid #000000;
  padding: 0;
}

#badges img {
    image-rendering: pixelated
}

#puppytrap {
    position: absolute; 
    bottom: 0px; 
}

#badpuppypopup {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E7F8EA;
    height: 30vw;
    width: 30vw;
    padding: 30px;
}
#badpuppypopup img {
    height: 100%;
}