body {
    background-color: #CFF2D5;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    width: 100vw;
}
h1 {
    color: #A3BAE6
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#main p {
    max-width: 15%;
}

hr {
  width: 30%;
  height: 1px;
  border: 0;
  border-top: 2px solid #000000;
  padding: 0;
}